/* Css for intro part */
.hero {
    height:45vh; /* Viewport height */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/bg2.jpeg") center/cover;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
}
.hero p {
    margin: 10px 0 20px;
    font-size: 20px;
}

/* css for bookings page */
.booking-section {
    width: 600px;
    margin: 40px auto;
    background: #e0f0f8;
    padding: 30px;
    border: #10859a 2px solid;
    border-radius: 10px;
}

.booking-section h2, .booking-section p {
    text-align: center;
    margin-bottom: 10px;
}

.booking-section form {
    display: flex;
    flex-direction: column;
}

.booking-section label {
    margin-top: 15px;
    font-weight: 500;
}

.booking-section input, .booking-section select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-section textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.booking-section button {
    margin-top: 20px;
    padding: 12px;
    background-color: #645492;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.booking-section button:hover {
    background-color: #c5d7ff;
    color: black;
}