.band-header {
    display: flex;
    gap: 30px;
    padding: 40px;
    background: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.band-header {
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.band-header img {
    align-items: center;
    width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.band-info {
    margin-top: 15px;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.band-info h2 {
    font-size: 28px;
}

.band-info a {
    display: inline-table;
    margin-top: 10px;
    color: white;
    width: 200px;
    padding: 8px 12px;
    background-color: #2b1c50;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.band-info a:hover {
    background-color: #ae8cff;
    color: #2b1c50;
}

.band-details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    background: white;
    margin-left: 30px;
    margin-right: 30px;
}

.band-details:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details-box {
    background: #e2f4ff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.reviews {
    padding: 40px;
}

.review-card {
    background: #f9f9f9;
    padding: 15px;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 30px;
    border-left: 5px solid #007bff;
    border-radius: 8px;
}

/* USER REVIEWS */
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    height: 400px;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.review-form label {
  margin-top: 15px;
  display: block;
}

.review-form input,
.review-form select,
.review-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.review-form textarea {
  resize: vertical;
}

.review-form button {
  margin-top: 15px;
  padding: 10px;
  background-color: #2b1c50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.review-form button:hover {
  background-color: #ff3b0f;
}

/* Review Display */
.review-item {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.review-item strong {
  display: block;
}