/* css for all elements */
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #f4f4f9;
    color : #333;
}

/* css for navigation */
header {
    background-color: #2b1c50;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color : #fff;
    font-size: 22px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left : 20px
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color : #ff6b35
}

/* css for footer part */
.site-footer {
  background-color: #2b1c50;
  color: white;
  width: 100%;
}

.footer-container {
  max-width: 1500px;
  margin: auto;
  padding: 50px 20px;
  height: 220px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-column h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-column p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-column a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-column a:hover {
  color: #ff6b35;
}

.footer-bottom {
  background-color: #241644;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

.footer-box {
  gap: 20px;
  margin-left: 50px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.footer-box1 {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.footer-box1 p {
  margin-left: 4px;
  font-size: 13px;
  line-height: 1.6;
}

.footer-box li a {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footer-box li a:hover {
  color: #ff6b35;
}