/* Css for intro part */
.hero {
    height:80vh; /* Viewport height */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/bg.jpeg") center/cover;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    margin: 10px 0 20px;
}

/* Css for about us */
.about-us {
    margin-top: 20px;
    display: flex;
    background-color: #e8e8e8;
    padding: 70px 40px;
    width: 95%;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 15px 20px rgba(0,0,0,0.1);
}

.about-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 15px;
  color: #2b1c50;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
  margin-left: 15px;
}

.about-features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.feature-box {
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  margin-left: 30px;
}

.feature-box h3 {
  margin-bottom: 10px;
  color: #2b1c50;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/* Css for bands display */

.featured {
    padding: 50px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.band-card {
    display: grid;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    gap: 20px;
}

.band-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(35, 221, 242, 0.2);
}

.band-card img {
    width: 100%;
    border-radius: 10px;
}

.band-card a {
    display: inline-table;
    margin-top: 10px;
    color: white;
    padding: 8px 12px;
    background-color: #2b1c50;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.band-card a:hover {
    background-color: #c0b1e2;
    color: #2b1c50;
}

.event-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    background: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.event-details:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details-box {
    text-align: center;
    align-items: center;
    background: #e2f4ff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.details-box h3 {
    margin-bottom: 15px;
    text-decoration: overline;
}

.details-box img {
    box-shadow: 10px 15px 20px rgba(0,0,0,0.1);
}