/* PAGE TITLE */
.page-title {
    display: flex;
  justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    height:55vh; /* Viewport height */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/bg1.jpeg") center/cover;
}

.page-title h2 {
  color: white;
  font-size: 48px;
}

.page-title p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

/* BANDS PAGE LAYOUT */
.bands-page {
  display: flex;
  gap: 30px;
  padding: 40px;
}

/* Css for search bar */
.search-bar {
    margin-top: 15px;
    background: white;
    border-radius: 8px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 516px;
}

.search-bar select, .search-bar input {
    margin: 5px;
    padding: 8px;
}

.search-bar input {
    width: 300px;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #2b9aef;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    height: 40px;
    width: 80px;
    align-items: center;
}

.search-bar button:hover {
    background-color: #d84b18;
}

/* BAND CARDS */

.featured {
    padding: 50px;
    text-align: center;
}

.container1 {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
}

.band-card1 {
    display: grid;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    gap: 20px;
    width: 250px;
}

.band-card1:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(242, 35, 217, 0.2);
}

.band-card1 img {
    width: 100%;
    border-radius: 10px;
}

.band-card1 a {
    display: inline-table;
    margin-top: 10px;
    color: white;
    padding: 8px 12px;
    background-color: #2b1c50;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.band-hidden {
    display: none;
}